:root{
    --clr-dark:     #141414;
    --clr-light:    #EFF8FE;
    --clr-concept:  orange;
}

/* Default Position */
.l0{ left: 0; }
.r0{ right: 0; }
.t0{ top: 0; }
.b0{ bottom: 0; }

/* Concept Color */
[concept-color="concept"] {
    color: var(--clr-concept);
}

[concept-background-color="concept"] {
    background-color: var(--clr-concept);
}

body{
    margin:     2rem;
    padding:    2rem;
}

body[dark-mode="dark"]{
    background-color: var(--clr-dark);
    color: var(--clr-light);
}

body[dark-mode="light"]{
    background-color: var(--clr-light);
    color: var(--clr-dark);
}

/* Dark Mode */
#dark-mode-changer{
    position: absolute;
    top:    4rem;
    right:  4rem;

    --size: 40px;
    width: calc(var(--size) *2);
    height: var(--size);
    border-radius: calc(var(--size) /2);

    cursor: pointer;

    text-align: center;

    mix-blend-mode: difference;
}

#dark-light{
    justify-content: space-around;
}

.fa-sun{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left:  1rem;
}

.fa-sun[dark-mode="light"]{
    display: none;
}

.fa-moon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1rem;
}

.fa-moon[dark-mode="dark"]{
    display: none;
}

.fa-plane[dark-mode="light"]{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1rem;
    transition: 0.5s;
}

.fa-plane[dark-mode="dark"]{
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    right: 1rem;
    transition: 0.5s;
}



/* Color Palette */
#call-palette{
    --size: 40px;
    width:  40px;
    aspect-ratio: 1;
    border-radius: 50%;

    background: var(--clr-dark);
    
    position: absolute;
    top:    8rem;
    right:  4rem;
    
    cursor: pointer;

    color: #EFF8FE;
}

.fa-palette{
    font-size: 1.5rem;
}

#clr-palette{
    --diameter: 30px;
    --margin:   10px;
    --size-width: calc(var(--diameter) *3 + var(--margin) *6);
    --size-height: calc(var(--diameter) *2 + var(--margin) *4);
    width:  var(--size-width);
    height: var(--size-height);
    border-radius: calc(var(--size-width)/ 5);

    background: var(--clr-dark);

    position: absolute;
    top:    -500px;
    right:  4rem;

    transition: top 0.7s ease-in-out;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}

.clr-circle{
    margin: var(--margin);
    width:  var(--diameter);
    height: var(--diameter);
    border-radius:  50%;

    cursor: pointer;
}




ul{
    list-style: none;
}

/* #home{
    color: #dfdfdf;
} */

#home-introduction{
    font-family: "Arvo", serif;
    font-weight: 400;
    font-style: normal;
}

#my-introduction{
    width: 55rem;
}

#dynamic-text{
    cursor: text;
}

.home-contents{
    margin:0;
    padding-inline: 0;
    list-style: none;
}

.home-contents li{
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem -0.25rem #000;
}

.scroller{
    max-width: 600px;
    /* overflow: hidden; */
    /* outline: 3px solid lime; */
}

.scroller_inner{
    padding-block: 1rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.scroller[data-animated="true"]{
    overflow: hidden;
    -webkit-mask: linear-gradient(
        90deg, 
        transparent, 
        white 20%, 
        white 80%, 
        transparent
        );
        mask: linear-gradient(
            90deg, 
            transparent, 
            white 20%, 
            white 80%, 
            transparent
            );
        }
        
        .scroller[data-animated="true"] .scroller_inner{
            width: max-content;
            flex-wrap: nowrap;
            animation:
            scroll
            var(--animation-duration, 10s)
            var(--animation-direction, forwards)
            linear
            infinite;
        }
        
        .scroller[data-direction="right"]{
            --animation-direction: reverse;
        }
        
        .scroller[data-direction="left"]{
            --animation-direction: forwards;
        }
        
        @keyframes scroll{
            to{
                transform: translate(-100%);
            }
        }
        
        .home-content{
            cursor: pointer;
        }
        
        
        
        
        /* Mouse Cursor */
        #cursor{
            position: absolute;
            transform: translate(-50%, -50%);
            --size: 1rem;
            width:  var(--size);
            height: var(--size);
            border-radius: 50%;
            mix-blend-mode: difference;
        }
        
        
        /* My Picture Accessory */
        #my-picture-accessory{
            position: absolute;
            top: 4rem;
            right: calc(4rem + 10rem);
            --height-picture: 20rem;
            --width:    25rem;
            --height:   30rem;
            height: var(--height);
            width:  var(--width);
        }
        
        .nieun{
            position: absolute;
            height: var(--height);
            width:  var(--width);
        }

        .nieun-horz{
            position: absolute;
            width:10rem;
            height:1rem;
        }
        
        .nieun-vert{
            position: absolute;
            width:1rem;
            height:10rem;
        }

        /* My Picture */
        #myPicture{
            position: absolute;
            top:    50%;
            left:   50%;
            transform: translate(-50%, -50%);
            height: var(--height-picture);
        }
        

        /* Footer */
        footer{
            position: fixed;
            width: 100vw;
            bottom: 0;
            height: 10rem;
            /* background-color: red; */
        }

        .code-right:hover .fa-copyright{
            animation: rotate2pi 1s linear;
        }

        @keyframes rotate2pi{
            from{ transform: rotate(0deg); }
            to{ transform: rotate(360deg); }
        }