body{
    background-color: #141414;
}

ul{
    list-style: none;
}

#home{
    color: #dfdfdf;
}

.home-contents{
    margin:0;
    padding-inline: 0;
    list-style: none;
}

.home-contents li{
    padding: 1rem;
    background: #262626;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem -0.25rem #000;
}

.scroller{
    max-width: 600px;
    /* overflow: hidden; */
    /* outline: 3px solid lime; */
}

.scroller_inner{
    padding-block: 1rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.scroller[data-animated="true"]{
    overflow: hidden;
    -webkit-mask: linear-gradient(
        90deg, 
        transparent, 
        white 20%, 
        white 80%, 
        transparent
        );
    mask: linear-gradient(
        90deg, 
        transparent, 
        white 20%, 
        white 80%, 
        transparent
        );
}

.scroller[data-animated="true"] .scroller_inner{
    flex-wrap: nowrap;
    animation: scroll 20s linear infinite;
}

@keyframes scroll{
    to{
        transform: translate(100%);
    }
}

.home-content{
    cursor: pointer;
}