.top{
    display: grid;
    background-color: rgb(222, 220, 209);
    position: relative;
    height: 100%;
    width:  100%;
    min-height: 100vh;
    min-width:  100vw;

    overflow: hidden;
}

#me{
    justify-self: center;
    align-self: center;
    position: absolute;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}

.top-name{
    overflow: hidden;
    color: white;
    font-size: 1000%;
    text-wrap: nowrap;
    position: absolute;
    bottom: 0;
}

.bot>.row>.column:hover .fa-earth-asia{ animation: 1s rotation linear infinite; }

.top a{ color: white; }

.mid{
    color: black;
    width: 100%;
}

.mid p{
    font-size: 5rem;
    text-align: center;
    margin-bottom: 2rem;
}

.mid a{
    color: black;
    margin: auto;
    font-size: 7rem;
}

.string{
    height: 2px;
    background-color: rgba(128, 128, 128, 0.5);
    width: 80%;
    align-self: center;
}

.copyright{
    color: white;
    border: 1px solid white;
}